body {background: #FFFFFF;
    background: -moz-linear-gradient(izquierda, #FFFFFF 0%, #70BEDB 50%, #FFFFFF 100%);
    background: -webkit-linear-gradient(izquierda, #FFFFFF 0%, #70BEDB 50%, #FFFFFF 100%);
    background: linear-gradient(to right, #FFFFFF 0%, #70BEDB 50%, #FFFFFF 100%);}
h1 {color: rgb(251, 213, 0); font-family: Georgia, 'Times New Roman', Times, serif; text-shadow: 1px 2px 2px #000000;}
h2 {color:#f8c2c2; font-family: Arial, Helvetica, sans-serif; text-shadow: 1px 2px 2px #7f0946}
h3 {color: rgb(255, 187, 0); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-shadow: 1px 2px 2px #0915f5};
h4 #prueba {color: #ee073d;}